h1{
    font-family: 'Franklin Gothic Medium';
    text-align: center;
    color: #3459ff;
}

h2 {
    font-family: 'Arial';
    color: #CD5C5C;
}

p{
    font-size: 14px;
    background-color: tomato;
    color: black;
    font-family:'Franklin Gothic Medium'
    
}

img{
    height: 200px;
    width: 200px;
    border: solid 3px green;
    padding: 12px 20px;
    box-sizing: border-box;
}